<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="/partials/navbar :: navbar"></nav>
<main class="m-4">
    <h1 class="d-flex justify-content-center">Create your post here.</h1>
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        <div class="form-group">
            <label for="newTitle">Create a Post</label>
            <input th:field="*{title}" type="text" class="form-control" id="newTitle" />
        </div>
        <div class="form-group">
            <label for="newBody">Body</label>
            <textarea th:field="*{body}" class="form-control" id="newBody" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</main>



<footer th:replace="/partials/footer :: footer"></footer>
</body>
</html>