<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/head :: head">
    <meta charset="UTF-8">
    <title>Create A Post</title>
</head>
<body>
<nav th:replace="/partials/navbar :: navbar"></nav>
<main class="m-4">
    <h1 class="d-flex justify-content-center">Create your post here.</h1>
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        <div class="form-group">
            <label for="newTitle">Create a Post</label>
            <input th:field="*{title}" type="text" class="form-control" id="newTitle" />
        </div>
        <div class="form-group">
            <label for="newBody">Body</label>
            <textarea th:field="*{body}" class="form-control" id="newBody" rows="3"></textarea>
        </div>
        <div class="postImages">

        </div>
        <div>
            <input class="btn btn-primary" type="BUTTON" name="Pick photo" value="Upload Photo" id="photoPicker" onclick="openPhotoPicker()">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</main>


<footer th:replace="/partials/footer :: footer"></footer>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="container"></div>
</body>
</html>