<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/head :: head">
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<nav th:replace="/partials/navbar :: navbar"></nav>
<main>
    <h5>Here is your post.</h5>
    <h3 th:text="${post.title}"></h3>
<!--    <h3 th:text="${post.user}"></h3>-->
    <p th:text="${post.body}"></p>
    <h5>Created by the user:
        <span th:text="${post.user.username}"></span>
        Email: <span th:text="${post.user.email}"></span>
    </h5>
    <form th:action="${'/posts/' + post.id + '/edit'}">
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    <form th:action="@{/posts/{id}/delete(id=${post.getId()})}" method="post">
        <input type="hidden" name="id" th:value="${post.id}">
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>

</main>



<footer th:replace="/partials/footer :: footer"></footer>
</body>
</html>