<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/head :: head">
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<nav th:replace="/partials/navbar :: navbar"></nav>
<main>
    <h5>Here is your post:</h5>
    <div class="card-deck d-flex flex-column bg-info m-4 p-2" style="width:500px">
        <h4 th:text="${post.title}"></h4>
        <p th:text="${post.body}"></p>
        <div th:each="image : ${post.images}">
            <img th:src="${image.path}" th:alt="${image.description}">
        </div>
        <div sec:authorize="isAuthenticated()">
                <h5>Created by the user: </h5>
<!--            User ID: <span th:text="${#authentication.principal.id}"/>-->
           <h5><span th:text="${#authentication.principal.username}"/></h5>
            <h5>Email: <span th:text="${#authentication.principal.email}"/></h5>
        </div>

        <form class="card-left" th:action="${'/posts/' + post.id + '/edit'}">
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
        <form class="card-right" th:action="@{/posts/{id}/delete(id=${post.getId()})}" method="post">
            <input type="hidden" name="id" th:value="${post.id}">
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>

</main>



<footer th:replace="/partials/footer :: footer"></footer>
</body>
</html>