<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
    @media all and (min-width: 992px) {



        /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
        .sticky + .content {
            padding-top: 60px;
        }
    }
</style>
</head>
<nav th:fragment="navbar" class="navbar sticky navbar-expand-lg navbar-dark bg-dark pb-5" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://github.com/jhconger">
            <img th:src="@{/images/HartLogoWhite.png}"/>™
            <a class="navbar-brand" href="#">SpringBlog</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-left" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Posts
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/posts/create">Create</a>
                        <li><a class="dropdown-item" href="/posts">Show All</a>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto  navbar-right">
                <li class="nav-item">
                    <a class="nav-link mt-2" href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mt-2" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login </a>
                </li>
                <li>
                    <form class="nav-link" th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>